/* unvisited link */

a:link {
	color: blue;
}

/* visited link */

a:visited {
	color: purple;
}

/* mouse over link */

a:hover {
	color: red;
}

/* selected link */

a:active {
	color: greenyellow;
}

ul.menu li{
    display: none;
    padding:10px 10px 10px 20px;
    border-top:1px solid #ff7300;
}

ul.menu li:first-child{
    display: block;
    border-top:0px;
    padding-left:10px;
}

ul.menu:hover li{
    display:block;
}

ul.menu:hover li:first-child{
    background-color: #ff9100d5;
}
ul.menu{
    background-color:#ffa600d5;
    width:150px;
    padding:0px;
    float:left;
}
