<html>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>SNCF* Sandwich</title>
	<link rel="stylesheet" type="text/css" href="menu.css">
</head>

<body>
	<ul class="menu">
		<li><a href="#">Fruits</a></li>
		<li><a href="#">apple</a></li>
		<li><a href="#">orange</a></li>
		<li><a href="#">banana</a></li>
	</ul>
	<ul class="menu">
		<li><a href="#">Mobiles</a></li>
		<li><a href="#">iPhone X</a></li>
		<li><a href="#">Google Pixel</a></li>
	</ul>
	<ul class="menu">
		<li><a href="#">Cloths</a></li>
		<li><a href="#">Jacket</a></li>
		<li><a href="#">Jeans</a></li>
	</ul>

</body>

</html>