/* * {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
} */

body {
	background-color: rgb(80, 80, 80);
	margin: 20px 0 0 10px;
}

.whole {
	margin: 0 auto;
	width: 1400px;
}

.BANNER, .SIDEBAR, .MAIN, .SIDEBAR2, .WINDOW {
	background-color: rgb(144, 144, 144);
	box-shadow: 10px 10px 10px #000000;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}

.WINDOW {
	text-align: left;
	box-sizing: border-box;
	background-color: #88ff89;
	width: 500px;
	height: 150px;
	position: absolute;
	bottom: -216px;
    left: -60px;
	padding: 10px;
	font-stretch: expanded !important;
	letter-spacing: 1px;
	font-weight: 500;
	z-index: 1;
	font-family: sans-serif;
}

.BANNER {
	margin: 0 auto;
	width: 1400px;
	position: relative;
	height: 128px;
}

.SIDEBAR {
	position: relative;
	width: 90px;
	height: 420px;
	margin: 20px 0 0 28px;
	float: left;
	padding: 15px 10px 10px 30px;
}

.SIDEBAR2 {
	position: relative;
	width: 90px;
	height: 420px;
	margin: 20px 0 0 36px;
	float: left;
	padding: 15px 10px 10px 30px;
}

.SIDEBAR img {
	width: 72px;
	margin-bottom: 6px;
}

.SIDEBAR2 img {
	width: 72px;
	margin-bottom: 6px;
}

.SIDEBAR img.selected {
	border: 5px solid red;
	margin: -5px 0 1px -5px;
	border-radius: 5px;
}

.SIDEBAR2 .wall {
	content: '';
	background-image: url(resources/brick.jpg);
	width: 110px;
	height: 70px;
	margin: -5px 0 0 -20px;
}

.MAIN {
	position: relative;
	margin: 20px 0 0 30px;
	width: 985px;
	height: 556px;
	float: left;
	padding: 15px 15px 15px 15px;
	overflow: hidden;
}

.MAIN img {
	-webkit-transform: scale(1);
}

.MAIN img:hover {
	-webkit-transition: 0.5s;
	-webkit-transform: scale(1.28);
	overflow: hidden;
}

.upright {
	float: right;
}

#logo {
	/* position: absolute; */
	/* display: block; */
	/* left: calc(50% - 75px); */
	/* top: calc(50% - 34px); */
	/* width: 200px; */
	height: 80%;
	margin-top: 12px;
}

#reload {
	display: block;
	float: right;
	width: 18px;
	bottom: 0px;
	margin-right: 5px;
	margin-top: 5px;
}

#close {
	position: absolute;
	bottom: 5px;
	width: 18px;
	display: block;
}

#loupe {
	position: absolute;
	bottom: -20px;
	right: 20px;
	float: right;
	display: block;
}

@media screen and (max-width: 360px) {
	#logo {
		position: absolute;
		display: block;
		/* 	left: calc(50% - 75px); */
		top: calc(50% - 10px);
		width: 75px;
		height: 20px;
	}
}