#TOP {
	display: inline-block;
	background-color: rgb(144, 144, 144);
	width: 80%;
	/* height: 500px; */
	
	/* margin-right: 20px; */
	box-shadow: 10px 10px 10px #000000;
}

#DIV_A {
	display: inline-block;
	background-color: #eee;
	width: 150px;
	height: 50px;
	margin-right: 20px;
	box-shadow: 3px 3px 9px yellow;
}

#DIV_B {
	display: inline-block;
	background-color: #eee;
	width: 150px;
	height: 50px;
	margin-right: 20px;
	box-shadow: 0px 0px 9px green;
}

#DIV_C {
	display: inline-block;
	background-color: #eee;
	width: 150px;
	height: 50px;
	margin-right: 20px;
	box-shadow: -3px -3px 9px pink;
}
/* 
img {
	width:auto;
	height:auto;
	width: 100%;
	height: auto; 
	max-width: 100%;
	max-height: 100%;
} */ 

