html, body {
	width: 100%;
	height: 100%;
	margin: auto;
}

body {
	background: url("http://pluspng.com/img-png/ancient-letter-roll-png-ancient-letter-roll-clipart-350.png") center top no-repeat;
	background-size: 115%;
}

H1 {
	color: black;
	text-align: center;
	font-size: 2vw;
}

p {
	margin: 0;
}

.num {
	vertical-align: bottom;
	font-size: 1vw;
	/* text-align: left; */
}

.mass {
	text-align: right;
	font-size: 1vw;
}

.name {
	font-size: 2vw;
	text-align: center
}

.empty {
	border: none;
}

td {
	width: 5%;
	height: auto;
	padding: 3px;
	/* position: relative; */
	/* border: 1px solid black; */
}

table {
	width: 78%;
	margin: auto;
	height: auto;
	margin-top: 5%;
}

td.mediumturquoise {
	background-color: mediumturquoise;
}

td.crimson {
	background-color: crimson;
}

td.papayawhip {
	background-color: papayawhip;
}

td.plum {
	background-color: plum;
}

td.grey {
	background-color: grey;
}

td.green {
	background-color: green;
}

td.darkgrey {
	background-color: darkgrey;
}

td.darkmagenta {
	background-color: darkmagenta;
}

td.greenyellow {
	background-color: greenyellow;
}

td.rosybrown {
	background-color: rosybrown;
}